<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240443916107-3iarm54r12mbereqtbrsnf3ngh0r1vj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240443916107-3iarm54r12mbereqtbrsnf3ngh0r1vj0</string>
	<key>API_KEY</key>
	<string>AIzaSyBIc0BzjYoNzoKTCoK6VoS5EoPp7RURB20</string>
	<key>GCM_SENDER_ID</key>
	<string>240443916107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mdc100Series</string>
	<key>PROJECT_ID</key>
	<string>final-test-1c6ad</string>
	<key>STORAGE_BUCKET</key>
	<string>final-test-1c6ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240443916107:ios:8af378a78941dd952232ce</string>
</dict>
</plist>